/* DirectoryPage.css */

.directory-page {
  display: flex;
  min-height: 100vh;
  background-color: #050505; 
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #1f1e1e; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #f5f4f4;
}

.filter {
  margin-bottom: 20px;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  }

.filter select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #f5f4f4;
}

.directory-title {
  font-size: 2em;
  margin: 0;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.employee-card {
  background-color: #aa2121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
}

.employee-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.employee-role, .employee-location, .employee-email {
  font-size: 0.9em;
  color: #050505; /* Light gray text */
  margin-bottom: 5px;
}

.employee-show {
  color: #f5f4f4; /* Netflix red color for show */
}

.predictor-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.predictor-button:hover {
  background-color: #0056b3;
}
